* {
  box-sizing: border-box;
}

main {
  padding: 36px;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}
.navbar--logo{
  height: 50px;
  width: 50px;
  margin-right:10px ;
}

.navbar--title{
  margin-right: auto;
}
.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    max-width: 800px;
    margin: auto;
}
.form--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}
.meme--image{
  width: 100%;
  background-repeat: no-repeat;
  height: 50%;
}
.meme{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  max-height: 1000px;
}
.meme img{
  max-width: 100%;
  max-height: 100%;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}